/*reset*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*general*/
body{
    background-color: brown;
}

h1{
    text-align: center;
    color: white;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.container{
    background-color: white;
    margin: 50px;
    padding: 20px;
}

.justify-between{
    justify-content: space-between;
}

/*main*/

button{
    margin: 20px;
    margin-top: 60px;
}

.container-name{
    background-color: #555555;
    padding-bottom: 30px;
}

.info{
    margin-top: 50px;
    
}

.box-info{
    border: 1px solid #555555;
}

.container-name>h3{
    margin-top: -20px;
}

.none{
    display: none;
}

.show{
    display: block;
}